body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #ffffff;
}

#container {
  border: 1px solid red;
  width: 600px;
  margin:auto;
  background: #565656;
  color: #efefef;
  padding: 20px;
}

#footer {
  margin: 40px 30px 20px 20px;
  padding: 20px;
  border: 1px solid green;
}

#container img {
  width: 400px;
}

button {
  margin-top: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}