.image-container {
	text-align: center;
  padding: 5px;
}

nav ul li {
	display: inline-block;
}

nav ul {
	margin-left: -40px;
}

header {
	margin: auto;
	background: url('../img/header-bg.png') center center; 
}

#header-container {
	text-align: center;
	height: 150px;
	margin-bottom: 30px;
}


@media screen and (min-width: 35.5em) {
  /* small */
  .caption {
    font-size: 2em;
  }
}

@media screen and (min-width: 48em) {
  /* tablet */
  .caption {
    color: red;
  }
}
